<section class="bg-gray-50 min-h-screen flex items-center justify-center">
    <div class="flex flex-1 h-screen bg-blue-100">
    </div>
    <div class="flex flex-1 bg-gray-100 h-screen flex rounded-2xl shadow-lg p-6 items-center justify-center">
      <div class="flex flex-col w-2/3 px-4">
        <h2 class="font-bold text-3xl text-[#002D74]">Login</h2>
        <p class="text-md mt-4 text-gray-400">If you are already a member, easily log in</p>
  
        <form method="post" action="/admin/login" class="flex flex-col gap-4">
          <input class="p-3 mt-8 rounded border mb-4" type="text" name="userName" id="userName" placeholder="user name">
          <div class="relative my-3">
            <input class="p-3 rounded border mb-4 w-full" type="password" name="password" id="password" placeholder="Password">
          </div>
          <button type="submit" class="bg-blue-500 tracking-wider px-3 my-2 py-3 hover:bg-gray-300 rounded-md text-white py-2 hover:scale-105 duration-300">Login</button>
        </form>
      </div>
    </div>
  </section>